<!DOCTYPE html>
<html lang="en">
<%- include('./includes/common-head.ejs') %>

  <body>
    <%- include('./includes/navbar.ejs') %>
    <h3>Login with</h3>
    <a href="/auth/google">Google</a>
    <a href="/auth/github">GitHub</a>
  </body>

</html>